.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post:hover {
  background: rgb(245, 245, 245);
  cursor: pointer;
  transition: .3s;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.post__icon:hover, .post__avatar:hover, .post__avatar {
  cursor: pointer;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__header {
  width: auto;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}
