.signIn {
  text-align: center;
}

.signIn__button {
  margin: auto;
  width: 100px;
  height: 50px;
  transform: translateY(-25px);
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.signIn__button:hover {
  cursor: pointer;
}
